@model IEnumerable<BookStore.Models.Order>

<h1>Orders</h1>
<table class="table">
    <thead>
        <tr>
            <th>Book</th>
            <th>Order Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.BookId</td>
                <td>@order.OrderDate</td>
            </tr>
        }
    </tbody>
</table>
